.title {
    margin: 15px 0;
}

.base-image {
    background-image: url('./img/base.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 397px;
    margin: auto;
    width: 296px;
}

#layers {
    height: 397px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 296px;
}

#layer {
    height: 397px;
    left: 0;
    padding: 0;
    position: absolute;
    width: 296px; 
}

.button {
    margin: 15px 0;
}
